**Q1. Given a list of strings, use map to convert each string to uppercase.**

In [ ]:
def upcase(obj):
    if type(obj) == str:
        return obj.upper()
    else:
        return 'Not a string'


my_strings = ['book', 'Pen', 'pencil', 300]
list(map(upcase, my_strings))

['BOOK', 'PEN', 'PENCIL', 'Not a string']

**Q2. Given a list of numbers, use filter to find all multiples of 3.**

In [ ]:
def three_mult(n):
    if type(n) == int or type(n)== float:
        if n%3 == 0:
            return True
        else:
            return False
    else:
        return False


num_lst = [2, 3, 4, 6.0, 9, 8, 27, 'str']
print(list(map(three_mult, num_lst)))
print(list(filter(three_mult, num_lst)))

[False, True, False, True, True, False, True, False]
[3, 6.0, 9, 27]

**Q3. Given a list of strings, use filter to find all the strings that have more than 5 characters.**

In [ ]:
def len_check(obj):
    if type(obj) == str:
        return 5 < len(obj) <= 7
    else:
        return False

string_lst = [300,'Ananda', 'Tanmoy', 'Santu', 'Saheb', 'Tushar', 'Debraj', 'Debasis', 'Ramprasad']
print(list(map(len_check, string_lst)))
print(list(filter(len_check, string_lst)))

[False, True, True, False, False, True, True, True, False]
['Ananda', 'Tanmoy', 'Tushar', 'Debraj', 'Debasis']

**Q4. Given a list of tuples (name, age), use map and filter to find the names of people who are above 18 years old.**

In [ ]:
def age_check(i):
    return i[1] > 18

my_lst = [('p1', 17), ('p2', 19), ('p3', 27), ('p4', 18), ('p5', 28)]
#print(list(map(age_check, my_lst)))
list_of_adults = list(filter(age_check, my_lst))
print(list_of_adults)
print([i for i,_ in list_of_adults])

[('p2', 19), ('p3', 27), ('p5', 28)]
['p2', 'p3', 'p5']

In [ ]:
def age_check(n):
    if n > 18:
        return True
    else:
        return False

lst = [('p1', 17), ('p2', 19), ('p3', 27), ('p4', 18), ('p5', 28)]

#print(list(map(age_check, [j for i,j in lst])))
above_18_ages = list(filter(age_check, [j for i,j in lst]))
print(above_18_ages)

above_18_persons = []
for i,j in lst:
    if j in above_18_ages:
        above_18_persons += [i]

print(above_18_persons)

[19, 27, 28]
['p2', 'p3', 'p5']

**Q5. Given a list of dictionaries representing people (each dictionary contains keys 'name' and 'age'), use filter to find all the people whose age is above 30.**

In [ ]:
def age_check2(k):
    if list(k.values())[0] > 30:
        return True
    else:
        return False


my_lst = [{'p1': 30}, {'p2': 52}, {'p3': 27}, {'p4': 18}, {'p5': 35}]
#print(list(map(age_check2, my_lst)))
print(list(filter(age_check2, my_lst)))

above_30_persons = []
for m in list(filter(age_check2, my_lst)):
    for p in m:
        above_30_persons += [p]

print(above_30_persons)

[{'p2': 52}, {'p5': 35}]
['p2', 'p5']

**Q6. Given a list of strings, use map to convert each string to its length.**

In [ ]:
def str_len(obj):
    return len(obj)

string_lst = ['Ananda', 'Tanmoy', 'Santu', 'Saheb', 'Tushar', 'Debraj', 'Debasish', 'Ramprasad']
list(map(str_len, string_lst))

[6, 6, 5, 5, 6, 6, 8, 9]

In [ ]:
def str_len(obj):
    if type(obj) == str:
        return len(obj)
    else:
        return 'Not a string'

string_lst = [300,'Ananda', 'Tanmoy', 'Santu', 'Saheb', 'Tushar', 'Debraj', 'Debasish', 'Ramprasad']
list(map(str_len, string_lst))

['Not a string', 6, 6, 5, 5, 6, 6, 8, 9]

**Q7. Given a list of integers, use filter to find all the numbers which are one less than some prime numbers.**

In [ ]:
def prime_check(n):
    if n+1 > 1:
        for i in range(2, n+1):
            if (n+1)%i == 0:
                return False
        else:
                return True
    else:
        return False



num_lst = [2, 3, 4, 5, 6, 7, 8, 9, 10]

list(filter(prime_check, num_lst))

[2, 4, 6, 10]

**Q8. Given a list of dictionaries representing products (each dictionary contains keys 'name' and 'price'), use filter to find all the products with a price less than $10.**

In [ ]:
def price_chk(price):
    if list(price.values())[0].startswith('$'):
        if int(list(price.values())[0][1:]) < 10:
            return True
        else:
            return False
    if list(price.values())[0].startswith('Rs'):
        if int(list(price.values())[0][3:])/82 < 10:
            return True
        else:
            return False

    if list(price.values())[0].startswith('€'):
        if int(list(price.values())[0][1:])*1.09 < 10:
            return True
        else:
            return False



price_lst = [{'pt1': '$9'}, {'pt2': 'Rs8500'}, {'pt3': '€9'}, {'pt4': 'Rs.50'}, {'pt5': '$10'}, {'pt6': '$5'}]

print(list(map(price_chk, price_lst)))
print(list(filter(price_chk, price_lst)))

below_10_pdt = []
for pr in list(filter(price_chk, price_lst)):
    for pt in pr:
        below_10_pdt += [pt]

print(below_10_pdt)

[True, True, True, True, False, True]
[{'pt1': '$9'}, {'pt2': 'Rs8500'}, {'pt3': '€9'}, {'pt4': 'Rs.50'}, {'pt6': '$5'}]
['pt1', 'pt2', 'pt3', 'pt4', 'pt6']

**Q9. Given a list of strings, use filter to find all the strings that start with the letter 'A' or 'a'.**

In [ ]:
def str_chk(string):
    string = string.upper()
    return string.startswith('A')

string_lst = ['ananda', 'Tanmoy', 'Ajay', 'Saheb', 'Tushar', 'Amal', 'Debasish', 'Ramprasad']
list(filter(str_chk, string_lst))

['ananda', 'Ajay', 'Amal']

**Q10. Given a list of numbers, use map to calculate the cubes of the even numbers within the list of numbers.**

In [ ]:
def Even_cube(lst):
    return [n**3 for n in lst if n%2 ==0]


num_lst = [[1, 2, 3, 4, 5, 6, 7, 8]]
list(map(Even_cube, num_lst))[0]

[8, 64, 216, 512]

In [ ]:
def Even_cube(lst):
    cube = []
    for n in lst:
        if n%2 == 0:
            cube += [n**3]
    return cube

num_lst = [1, 2, 3, 4, 5, 6, 7, 8],
list(map(Even_cube, num_lst))[0]

[8, 64, 216, 512]

In [ ]:
def Even_cube(n):
    cube = []
    if n%2 == 0:
        cube += [n**3]
    return cube


num_lst = [1, 2, 3, 4, 5, 6, 7, 8]
list(map(Even_cube, num_lst))

[[], [8], [], [64], [], [216], [], [512]]

In [ ]:
def Even_cube(n):
    if n%2 == 0:
        return True
    else:
        return False


def cube(e):
    return e**3

num_lst = [1, 2, 3, 4, 5, 6, 7, 8]
print(list(filter(Even_cube, num_lst)))

print(list(map(cube, list(filter(Even_cube, num_lst)))))

[2, 4, 6, 8]
[8, 64, 216, 512]

In [ ]:
def Even_cube(lst):
    for n in lst:
        if n%2 == 0:
            print(n**3)

num_lst = [1, 2, 3, 4, 5, 6, 7, 8],
list(map(Even_cube, num_lst))

8
64
216
512

[None]

In [ ]:
def Even_cube(n):
    if n%2 == 0:
        print(n**3)

num_lst = [1, 2, 3, 4, 5, 6, 7, 8]
list(map(Even_cube, num_lst))

8
64
216
512

[None, None, None, None, None, None, None, None]

**Q11. Given a list of tuples (name, score), use map and filter to find the names of students who have scored above 80.**

In [ ]:
# def score_check(n):
#     def f(s):
#       return s[1]>n
#     return f
def score_check(n):
    return lambda s : s[1] > n

def student_name(s):
    return s[0]
score_lst = [('std1', 85), ('std2', 80), ('std3', 75), ('std4', 77), ('std5', 72), ('std6', 81)]
#print(list(map(age_check, my_lst)))

above_80 = list(filter(score_check(70), score_lst))
print(above_80)
print(list(map(student_name, above_80)))

[('std1', 85), ('std2', 80), ('std3', 75), ('std4', 77), ('std5', 72), ('std6', 81)]
['std1', 'std2', 'std3', 'std4', 'std5', 'std6']

In [ ]:
def score_check(n):
    def f(s):
      return s[1]>n
    return f

In [ ]:
def score_check(n):
    return lambda s : s[1] > n

In [ ]:
m = score_check(555)

In [ ]:
m(('sdfad',556))

True

**Q12. Given a list of strings, use map to reverse each string.**

In [ ]:
def rev_str(string):
    return string[::-1]

string_lst = ['Ananda', 'Tanmoy', 'Santu', 'Saheb', 'Tushar', 'Debraj', 'Debasish', 'Ramprasad']
print(list(map(rev_str, string_lst)))

['adnanA', 'yomnaT', 'utnaS', 'behaS', 'rahsuT', 'jarbeD', 'hsisabeD', 'dasarpmaR']

**Q13. Given a list of integers, use filter to find all the numbers that are divisible by both 7 and 9.**

In [ ]:
def div_check(n):
    if n % 7 ==0 or n %9 == 0:
        return True
    else:
        return False

int_lst = [5, 7, 9, 63, 126, 127, 189, 190, 250, 252]
list(filter(lambda n : (n % 7 == 0) or (n % 9 == 0) , int_lst))

[7, 9, 63, 126, 189, 252]

**Q14. Given a list of dictionaries representing books (each dictionary contains keys 'title' and 'author'), use map to extract the titles of the books.**

In [ ]:
def title_extract(b):
    return list(b.keys())[0]


book_lst = [{'t1': 'a1'}, {'t2': 'a2'}, {'t3': 'a3'}, {'t4': 'a4'}, {'t5': 'a5'}, {'t6': 'a6'}]
list(map(title_extract, book_lst))

['t1', 't2', 't3', 't4', 't5', 't6']

In [ ]:
def title_extract(book):
    return [list(b.keys())[0] for b in book]


book_lst = [{'t1': 'a1'}, {'t2': 'a2'}, {'t3': 'a3'}, {'t4': 'a4'}, {'t5': 'a5'}, {'t6': 'a6'}],
list(map(title_extract, book_lst))[0]

['t1', 't2', 't3', 't4', 't5', 't6']

**Q16. Given a list of tuples (name, salary), use filter to find all the employees whose salary is above the average salary.**

In [ ]:
salary = [('p1', 100), ('p2', 20), ('p3', 30), ('p4', 40), ('p5', 50)]
avg_sal = sum([j for i,j in salary])/len(salary)
def extract(n):
    return n[1] > avg_sal

salary = [('p1', 100), ('p2', 20), ('p3', 30), ('p4', 40), ('p5', 50)]
print(avg_sal)
print(list(filter(extract, salary)))
print([i for i,j in list(filter(extract, salary))])

48.0
[('p1', 100), ('p5', 50)]
['p1', 'p5']

In [ ]:
def avg_salary(sal):
        avg_sal2 = sum([j for i,j in sal])/len(sal)
        return avg_sal2

salary = [('p1', 100), ('p2', 20), ('p3', 30), ('p4', 40), ('p5', 50)]
print(avg_salary(salary))

def extract(k):
    if k[1] > avg_salary(salary):
        return True
    else:
        return False


#print(avg_salary(salary))
print(list(map(extract, salary)))
print([i for i,j in list(filter(extract, salary))])

48.0
[True, False, False, False, True]
['p1', 'p5']

In [ ]:
def extract2(sal):
    avg_sal1 = sum([j for i,j in sal])/len(sal)
    for m in sal:
        if m[1] > avg_sal1:
            return True
        else:
            return False

salary = [('p1', 100), ('p2', 20), ('p3', 30), ('p4', 40), ('p5', 50)],
print(list(map(extract2, salary)))
print(list(filter(extract2, salary)))
#print([i for i,j in list(filter(extract, salary))])

[True]
[[('p1', 100), ('p2', 20), ('p3', 30), ('p4', 40), ('p5', 50)]]

In [ ]:
# using map
def extract2(sal):
    avg_sal1 = sum([j for i,j in sal])/len(sal)
    print(avg_sal1)
    above_avg = []
    for m in sal:
        if m[1] > avg_sal1:
            above_avg += [m[0]]
    return above_avg


salary = [('p1', 100), ('p2', 20), ('p3', 30), ('p4', 40), ('p5', 50)],
print(list(map(extract2, salary))[0])

48.0
['p1', 'p5']

In [ ]:
def extract2(sal):
    avg_sal1 = sum([j for i,j in sal])/len(sal)
    print(avg_sal1)
    above_avg = []
    for m in sal:
        if m[1] > avg_sal1:
            above_avg += [m[0]]
    return above_avg


salary = [('p1', 100), ('p2', 20), ('p3', 30), ('p4', 40), ('p5', 50)]
print(extract2(salary))

48.0
['p1', 'p5']

In [ ]:
f = lambda  x, y,z = 4 : x + y + z

In [ ]:
f(4,5,1)

10

In [ ]:
def g(x,y,z):
  return x*y/z

In [ ]:
g(4,5,2)

10.0

In [ ]:
from random import *
a = ['date', 'cherry', 'banana', 'apple', 1,6,2]
shuffle(a)
print(a)

sorted(a,reverse = True, key = lambda x: str(x))

['apple', 'date', 'cherry', 'banana', 6, 1, 2]

['date', 'cherry', 'banana', 'apple', 6, 2, 1]