<a href="https://colab.research.google.com/github/mcodevb/Python-with-Mainul/blob/master/Assignment/5/Assignment_5_Ritwik_Saha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some problems on map and filter

### Q1. Given a list of strings, use map to convert each string to uppercase.

In [ ]:
def convert_to_uppercase(string):
    uppercase_of_string = string.upper()
    return uppercase_of_string

In [ ]:
convert_to_uppercase('ritwIK saha')

'RITWIK SAHA'

In [ ]:
tuple(map(convert_to_uppercase, ['ritwik', 'saha', 'rampurhat', 'visva bharati']))

('RITWIK', 'SAHA', 'RAMPURHAT', 'VISVA BHARATI')

### Q2. Given a list of numbers, use filter to find all multiples of 3.

In [ ]:
def is_multiple_of_3(n):
    if (n%3 == 0):
        return True
    else:
        return False

In [ ]:
is_multiple_of_3(17)

False

In [ ]:
list(filter(is_multiple_of_3, [-15,-6,0,1,2,3,5,7,9,12,15,19,20]))

[-15, -6, 0, 3, 9, 12, 15]

### Q3. Given a list of strings, use filter to find all the strings that have more than 5 characters.

In [ ]:
def character_greaterthan5(string):
    if len(string)>5:
        return True
    else:
        return False

In [ ]:
character_greaterthan5('RitwikSaha')

True

In [ ]:
list(filter(character_greaterthan5, ['hii', 'helloo', 'ritwik', 'saha', 'youuuuu']))

['helloo', 'ritwik', 'youuuuu']

### Q4. Given a list of tuples (name, age), use map and filter to find the names of people who are above 18 years old.

In [ ]:
def people_above_18years(name_and_age):
    if name_and_age[1]>18:
#         print(name_and_age[0])
        return True
    else:
        return False

In [ ]:
people_above_18years(('Ritwik', 23))

True

In [ ]:
list1=list(filter(people_above_18years, [('Ritwik', 23), ('Rakesh', 19), ('Sam', 12), ('Manu', 15)]))

for x in list1:
    print(x[0])

Ritwik
Rakesh

In [ ]:
# list(map(people_above_18years, [('Ritwik', 23), ('Rakesh', 19), ('Sam', 12), ('Manu', 15)]))

In [ ]:
# list(filter(people_above_18years, [('Ritwik', 23), ('Rakesh', 19), ('Sam', 12), ('Manu', 15)]))

### Q5. Given a list of dictionaries representing people (each dictionary contains keys 'name' and 'age'), use filter to find all the people whose age is above 30.

In [ ]:
def people_above_30years(name_and_age):
#     name = name_and_age.keys()
#     age = name_and_age.values()
    name_list = list(name_and_age.keys())
    age_list = list(name_and_age.values())

#     print(name_list)
#     print(age_list)

    if age_list[0]>30:
        return True
    else:
        return False

In [ ]:
people_above_30years({'Ram': 35})

True

In [1]:
list1 = list(filter(people_above_30years, [{'Ritwik': 38}, {'manu':12}, {'kajal':55}] ) )
ans_list=[]

for lst in list1:
    ans_list.append(lst.keys())

# print(ans_list)
answer = []

for x in ans_list:
    answer.append(list(x))

print(answer)

NameError: ignored

In [ ]:
# list3=list(map(people_above_30years, [{'Ritwik': 38}, {'manu':12}] ) )

# print(list2)

In [ ]:
# name_and_age = {'Ritwik': 38, 'manu':12}
# type(name_and_age)
# # name_and_age['Ritwik']>30
# # len(name_and_age)
# x=name_and_age.keys()
# # print(x)
# lst=list(x)
# print(lst)

### Q6. Given a list of strings, use map to convert each string to its length.

In [ ]:
def find_length(string):
    length_of_the_string = len(string)
    return length_of_the_string

In [ ]:
find_length('Ramesh')

6

In [ ]:
list(map(find_length, ['Ramesh', 'Ritwik', 'Shyamal', 'Kamal']))

[6, 6, 7, 5]

### Q7. Given a list of integers, use filter to find all the numbers which are one less than some prime numbers.

In [2]:
def is_prime(n):
    n=n+1  #Here I increase the value of n by 1 to check the number (n+1) is prime or not
    factor=[]
    for i in range(1,n+1):
        if(n%i == 0):
            factor.append(i)

    if(len(factor)<=2):
        return True
    else:
        return False

In [ ]:
list1=[4,5,6,8,10,13,17,18,22,30]
print(f'The numbers which are less than some prime number from the list {list1} are: {list(filter(is_prime, list1))}')

The numbers which are less than some prime number from the list [4, 5, 6, 8, 10, 13, 17, 18, 22, 30] are: [4, 6, 10, 18, 22, 30]

In [ ]:
# list(filter(is_prime, list1))

# list2=[]
# for x in list1:
#     list2.append(x+1)


# prime_list=list(filter(is_prime, list2))
# # print(prime_list)
# list3=[]
# for y in prime_list:
#     list3.append(y-1)

# list(filter(is_prime, list1))

### Q8. Given a list of dictionaries representing products (each dictionary contains keys 'name' and 'price'), use filter to find all the products with a price less than $10.

In [ ]:
def product_price_lessthan10(dictionary_name_price):
    name = list(dictionary_name_price.keys())
    price = list(dictionary_name_price.values())

    for x in price:
        if x < 10:
            return True
        else:
            return False

In [ ]:
product_price_lessthan10({'rice':5})

True

In [ ]:
product_and_price_list=list(filter(product_price_lessthan10, [{'rice':5}, {'wheat':9}, {'sugar':12},{'salt':5}] ))

product_list = []
for x in product_and_price_list:
    product_list.append( list(x.keys()) )

print(product_list)

[['rice'], ['wheat'], ['salt']]

### Q9. Given a list of strings, use filter to find all the strings that start with the letter 'A'.

In [ ]:
def starts_with_A(string):
    upper_string = convert_to_uppercase(string)
    if upper_string.startswith('A'):
        return True
    else:
        return False

In [ ]:
starts_with_A('aritra')

True

In [ ]:
list(filter(starts_with_A, ['amal', 'kamal', 'abul', 'ritwik', 'animesh']))

['amal', 'abul', 'animesh']

### Q10. Given a list of numbers, use map to calculate the cubes of the even numbers within the list of numbers.

In [ ]:
def is_even(n):
    if n%2 == 0:
        return True
    else:
        return False

In [ ]:
def cubes_of_even_number(n):
    if is_even(n)==True:
        return n*n*n
    else:
        return 0

In [ ]:
list(map(cubes_of_even_number, [-4,1,2,3,4,5,6]))

[-64, 0, 8, 0, 64, 0, 216]

In [ ]:
# def test(n):
#     if n%2 == 0:
#         return n*n*n
#     else:
#         return False

# list(map(test, [1,2,3,4,5,6]))

### Q11. Given a list of tuples (name, score), use map and filter to find the names of students who have scored above 80.

In [ ]:
def scored_above_80(name_and_score):
    if name_and_score[1]>80:
#         return name_and_score[0]
        return True
    else:
        return False

In [ ]:
scored_above_80(('Ritwik', 95))

True

In [ ]:
name_score_list = list(filter(scored_above_80, [('Rit', 95), ('Mon', 90), ('Ratul', 75)] ) )
for x in name_score_list:
    print(x[0])

Rit
Mon

### Q12. Given a list of strings, use map to reverse each string.

In [ ]:
def reverse_string(string):
    rev_string = string[::-1]
    return rev_string

In [ ]:
reverse_string('kamal')

'lamak'

In [ ]:
list(map(reverse_string, ['saha', 'rakesh', 'banana', 'moinul', 'lemon']))

['ahas', 'hsekar', 'ananab', 'luniom', 'nomel']

In [ ]:
# string = 'kamal'
# string_characters=[]
# n = len(string)

# for i in range(n):
#     string_characters.append(string[i])

# print(string_characters)

# rev_string_characters = []
# for j in range(1,n+1):
#     rev_string_characters.append(string_characters[-j])

# print(rev_string_characters)

# rev_string=''
# for i in range(n):
#     rev_string += rev_string_characters[i]

# print(rev_string)

In [ ]:
# string= 'kamal'
# print(string)
# string_characters=[]

# n = len(string)
# for i in range(n):
#     string_characters.append(string[i])

# print(string_characters)
# string_characters.reverse()
# print(string_characters)

# rev_string=''
# for i in range(n):
#     rev_string += string_characters[i]

# print(rev_string)

In [ ]:
# s='kamal'
# p=s[::-1]
# print(p)
# print(s)

### Q13. Given a list of integers, use filter to find all the numbers that are divisible by 7 and 9.

In [ ]:
def divisible_by_7and9(n):
    if (n%7 == 0) and (n%9 == 0):
        return True
    else:
        return False

In [ ]:
divisible_by_7and9(63)

True

In [ ]:
list(filter(divisible_by_7and9, [7,9,63,126,133,-63,0,5] ))

[63, 126, -63, 0]

### Q14. Given a list of dictionaries representing books (each dictionary contains keys 'title' and 'author'), use map to extract the titles of the books.

In [ ]:
def extract_title(dictionary_title_and_author):
    title = tuple(dictionary_title_and_author.keys())
    return title

In [ ]:
extract_title({'Dynamical system in ecology':'Ritwik Saha'})

('Dynamical system in ecology',)

In [ ]:
list(map(extract_title, [{'Book 1':'Ritwik'}, {'Book 2':'Manu'}, {'Book 3':'Rajesh'} ]))

[('Book 1',), ('Book 2',), ('Book 3',)]

### Q15.Given a list of strings, use filter to find all the strings that contain the letter 'e'.

In [ ]:
def contain_e(string):
    string = string.lower()
    if 'e' in string:
        return True
    else:
        return False

In [ ]:
contain_e('ElEphant')

True

In [ ]:
list(filter(contain_e, ['ELEPHANT', 'Eligible', 'Account', 'emi']))

['ELEPHANT', 'Eligible', 'emi']

### Q16. Given a list of tuples (name, salary), use filter to find all the employees whose salary is above the average salary.

In [ ]:
def find_salary(tuple_of_name_salary):
    return tuple_of_name_salary[1]

In [ ]:
def avg_salary(salary_list):
    sum1 = 0
    n = len(salary_list)
    for x in salary_list:
        sum1 += x

    average_salary = sum1/n
    return average_salary

In [ ]:
def employees_above_avgsalary(list_of_tuple_name_salary):
    salary_list = list(map(find_salary, list_of_tuple_name_salary ))
    average_salary = avg_salary(salary_list)

#     print(salary_list)
    print(f'average salary is: {average_salary}')
#     print(len(list_of_tuple_name_salary))

    ans=[]

    for i in range(len(list_of_tuple_name_salary)):
        if list_of_tuple_name_salary[i][1] > average_salary:
            ans.append(list_of_tuple_name_salary[i][0])

    return ans

In [ ]:
employees_above_avgsalary([('ritwik',100),('moinul',90),('ram',60),('kanu',105)])

average salary is: 88.75

['ritwik', 'moinul', 'kanu']

In [ ]:
# def average_salary(name_and_salary):
#     sum1=0
#     salary=[]
#     for x in name_and_salary:
#         salary.append(x[1])

#     n=len(salary)

#     for y in salary:
#         sum1=sum1+y

#     average_salary = sum1/n

# #     return average_salary

#     list1=[]
#     for x in name_and_salary:
#         if x[1] > average_salary:
#             list1.append(True)
#         else:
#             list1.append(False)

#     return list1

## USE FILTER ..........

In [ ]:
# name_and_salary=[('Ritwik',100),('Moinul',150),('Mousumi',110),('Shyamal',70)]
# avg_salary = average_salary(name_and_salary)
# print(f'average salary of the employees is: {avg_salary}')
# list2=[]
# for x in name_and_salary:
#     if x[1]>avg_salary:
#         list2.append(x[0])

# print(list2)

In [ ]:
# name_and_salary=[('Ritwik',100),('Moinul',150),('Mousumi',110),('Shyamal',70)]
# list2=average_salary(name_and_salary)
# print(list2)

In [ ]:
# name_and_salary=[('Ritwik',100),('Moinul',150),('Mousumi',110),('Shyamal',70)]
# sum1=0
# for i in range(len(name_and_salary)):
#     sum1+=name_and_salary[i][1]

# average_salary = sum1/len(name_and_salary)
# print(sum1)
# print(average_salary)

In [ ]:
# name_and_salary = [('Ritwik',100),('Moinul',150),('Mousumi',110),('Shyamal',70)]
# sum=0
# salary=[]
# for x in name_and_salary:
#     salary.append(x[1])

# n=len(salary)
# print(n)
# for y in salary:
#     sum=sum+y

# average_salary=sum/n
# print(sum)
# print(average_salary)