### 1.Given a list of strings, use map to convert each string to uppercase.

In [1]:
def uppercase(x):
    return x.upper()
list(map(uppercase,['mjkul','kuyvli','mjytsy','jhycbj']))

['MJKUL', 'KUYVLI', 'MJYTSY', 'JHYCBJ']

### 2.Given a list of numbers, use filter to find all multiples of 3.

In [5]:
def multiples_of_three(x):
    return x%3==0
list(filter(multiples_of_three,[1,2,3,3,4,5,6,7,8,9]))

[3, 3, 6, 9]

### 3.Given a list of strings, use filter to find all the strings that have more than 5 characters.

In [6]:
def length_more_than_5(x):
    return (len(x))>5
list(filter(length_more_than_5,['sudeshna','mousumi','ritwik','bikram','sunny']))

['sudeshna', 'mousumi', 'ritwik', 'bikram']

### 4.Given a list of tuples (name, age), use map and filter to find the names of people who are above 18 years old.

In [7]:
def age_above_18(x):
    return (x[1])>18
list(filter(age_above_18,[('sudeshna',23),('mousumi',22),('ritwik',21),('sunny',18)]))

[('sudeshna', 23), ('mousumi', 22), ('ritwik', 21)]

### 5.Given a list of dictionaries representing people (each dictionary contains keys 'name' and 'age'), use filter to find all the people whose age is above 30.

In [60]:
def age_above_30(x):
    return (list(x.values())[0]>30)
list(filter(age_above_30,[{'sudeshna':30},{'yhjiji':34},{'liyiy':29},{'hgfkuy':56}]))

[{'yhjiji': 34}, {'hgfkuy': 56}]

### 6.Given a list of strings, use map to convert each string to its length.

In [17]:
def length_of_string(x):
    return (len(x))
list(map(length_of_string,['sudeshna','sunny','mousumi','ritwik']))

[8, 5, 7, 6]

### 7.Given a list of integers, use filter to find all the numbers which are one less than some prime numbers.

In [4]:
def one_less_than_primes(n):
    x=0
    if((n+1)<=1):
        x=1
    else:
        for c in range(2,n):
            if((n+1)%c==0):
                x=1
    return(x)==0
list(filter(one_less_than_primes,[1,2,3,4,5,6,7,8,10]))

[1, 2, 4, 6, 10]

### 8.Given a list of dictionaries representing products (each dictionary contains keys 'name' and 'price'), use filter to find all the products with a price less than $10.

In [53]:
def price_less_than_10(x):
    price_list=list(x.values())
    return(price_list[0]<10)
list(filter(price_less_than_10,[{'kurkure':10},{'dairy milk':20},{'pulse':1},{'gems':5}]))

[{'pulse': 1}, {'gems': 5}]

### 9.Given a list of strings, use filter to find all the strings that start with the letter 'A'.

In [15]:
def begins_with_A(x):
    return(x.startswith('A'))
list(filter(begins_with_A,['Aritra','Arka','Sudeshna','Mousumi']))

['Aritra', 'Arka']

### 10.Given a list of numbers, use map to calculate the cubes of the even numbers within the list of numbers.

In [32]:
def even_numbers(x):
    return(x%2==0)
def cubes(x):
    return (x**3)
evens=list(filter(even_numbers,[1,2,3,4,5,6,7,8]))
    
list(map(cubes,evens))

[8, 64, 216, 512]

### 11.Given a list of tuples (name, score), use map and filter to find the names of students who have scored above 80.

In [36]:
def scored_above_80(x):
    return (x[1]>80)
list(filter(scored_above_80,[('sudeshna',85),('mou',90),('rtk',95),('sunny',80)]))

[('sudeshna', 85), ('mou', 90), ('rtk', 95)]

### 12.Given a list of strings, use map to reverse each string.

In [39]:
def reverse(x):
    return (x[::-1])
list(map(reverse,['sudeshna','sunny','mousumi','ritwik']))

['anhsedus', 'ynnus', 'imusuom', 'kiwtir']

### 13.Given a list of integers, use filter to find all the numbers that are divisible by 7 and 9.

In [40]:
def divisible_by_7_and_9(x):
    return(x%7==0 and x%9==0)
list(filter(divisible_by_7_and_9,[7,8,9,63,126,125]))

[63, 126]

### 14.Given a list of dictionaries representing books (each dictionary contains keys 'title' and 'author'), use map to extract the titles of the books.

In [64]:
def title_of_books(x):
    return(list(x.keys()))
list(map(title_of_books,[{'Abstract algebra':'malik moderson'},{'real analysis':'s.k.mapa'},{'introduction to coding theory':'c musilli'}]))

[['Abstract algebra'], ['real analysis'], ['introduction to coding theory']]

### 15.Given a list of strings, use filter to find all the strings that contain the letter 'e'.

In [65]:
def containing_e(x):
    return ('e' in x)
list(filter(containing_e,['kytierfd','gyyertfsy','yytyh','huyhji','jhtedje']))

['kytierfd', 'gyyertfsy', 'jhtedje']

### 16.Given a list of tuples (name, salary), use filter to find all the employees whose salary is above the average salary.

In [45]:
list1=[('kjyg',100),('yiyo',200),('jtkuyiu',300),('htryry',400)]
n=len(list1)
sum=0
for x in list1:
    sum+=x[1]
avg=sum//n
def salary_above_avg(x):
    return(x[1]>avg)
list(filter(salary_above_avg,list1))

[('jtkuyiu', 300), ('htryry', 400)]