Q1. Given a list of strings, use map to convert each string to uppercase.

In [ ]:
def string_upper(name):
    name=name.upper()
    return name

In [ ]:
#string_upper('biswajit ball')
name_list=['biswajit', 'sampad', 'mainul', 'apurba', 'mousami', 'sudeshna', 'ritwik', 'abdul']
print(list(map(string_upper, name_list)))

['BISWAJIT', 'SAMPAD', 'MAINUL', 'APURBA', 'MOUSAMI', 'SUDESHNA', 'RITWIK', 'ABDUL']

Q2. Given a list of numbers, use filter to find all multiples of 3.

In [ ]:
def multiple_three(n):
    if (n%3==0):
        return True
    else:
        return False

In [ ]:
#multiple_three(7)
multiple3_checklist=[3, 9, 12, 13, 15, 21, 20, 27]
print(list(filter(multiple_three, multiple3_checklist)))

[3, 9, 12, 15, 21, 27]

Q3. Given a list of strings, use filter to find all the strings that have more than 5 characters.

In [ ]:
def string_chrc_filter(string):
    return len(string)>5

In [ ]:
string_list=['biswajit', 'sampad', 'mainul', 'apurba', 'mousami', 'sudeshna', 'ritwik', 'abdul', 'roy', 'ball']
print(list(filter(string_chrc_filter, string_list)))

['biswajit', 'sampad', 'mainul', 'apurba', 'mousami', 'sudeshna', 'ritwik']

Q4. Given a list of tuples (name, age), use map and filter to find the names of people who are above 18 years old.

In [ ]:
def age_checker(tuple_in_List):
    return tuple_in_List[1]>18

In [ ]:
peoples=[('Ramen', 20), ('Rahul', 31), ('Rohit', 50), ('Rajib', 12), ('Madan', 8), ('Nayan', 2)]
print(list(map(age_checker, peoples)))
#print(list(filter(age_checker, peoples)))
print(f"Names of the people having age above 18 are: {', '.join([i[0] for i in list(filter(age_checker, peoples))])}")

[True, True, True, False, False, False]
Names of the people having age above 18 are: Ramen, Rahul, Rohit

Q5. Given a list of dictionaries representing people (each dictionary contains keys 'name' and 'age'), use filter to find all the people whose age is above 30.

In [ ]:
def age_checker_dict(dict_in_List):
    return dict_in_List['age']>30

In [ ]:
peoples_dict=[{'name': 'Ramen', 'age': 21 }, {'name': 'Rahul', 'age': 31 }, {'name': 'Rajib', 'age': 61 }]
print( f"Name of the peoples having age above 30 are: {', '.join([i['name'] for i in list(filter(age_checker_dict, peoples_dict))])}")

Name of the peoples having age above 30 are: Rahul, Rajib

Q6. Given a list of strings, use map to convert each string to its length.

In [ ]:
def str_to_len(strng):
    return len(strng)

In [ ]:
lst_of_strng=['biswajit', 'sampad', 'mainul', 'apurba', 'mousami', 'sudeshna', 'ritwik', 'abdul', 'roy', 'ball']
print(list(map(str_to_len, lst_of_strng)))

[8, 6, 6, 6, 7, 8, 6, 5, 3, 4]

Q7. Given a list of integers, use filter to find all the numbers which are one less than some prime numbers.

Q8.Given a list of dictionaries representing products (each dictionary contains keys 'name' and 'price'), use filter to find all the products with a price less than $10.

In [ ]:
def pdt_checker(dict_in_lst):
    return dict_in_lst['price']>10

In [ ]:
pdt_dict=[{'name': 'Mango', 'price': 3 }, {'name': 'bananna', 'price': 4 }, {'name': 'Apple', 'price': 13 }]
print( f"Name of pdts having price above 10 are: {', '.join([i['name'] for i in list(filter(pdt_checker, pdt_dict))])}")

Name of pdts having price above 10 are: Apple

Q9. Given a list of strings, use filter to find all the strings that start with the letter 'A'.

In [ ]:
def str_check(my_string):
    #my_string=my_string.upper()
    result=my_string.startswith("A")
    return result

In [ ]:
string_list=['Biswajit', 'Sampad', 'Mainul', 'Apurba', 'Mousami', 'Sudeshna', 'Ritwik', 'Abdul', 'Roy', 'Ball']
print(list(filter(str_check, string_list)))

['Apurba', 'Abdul']

Q10. Given a list of numbers, use map to calculate the cubes of the even numbers within the list of numbers.

In [ ]:
def cube_maker(my_num):
    if (my_num%2==0):
        return my_num**3
    else:
         return False

In [ ]:
num_list=[2, 4, 5, 7, 9, 6, 10]
print(list(map(cube_maker, num_list)))

[8, 64, None, None, None, 216, 1000]

Q11. Given a list of tuples (name, score), use map and filter to find the names of students who have scored above 80.

In [ ]:
def check_score(tuple_in_list):
    return tuple_in_list[1] > 80

In [ ]:
students=[('Ramen', 65), ('Rahul', 95), ('Rohit', 82), ('Rajib', 56), ('Madan', 75), ('Nayan', 85)]
print(list(filter(check_score, students)))

[('Rahul', 95), ('Rohit', 82), ('Nayan', 85)]

Q12. Given a list of strings, use map to reverse each string.

In [ ]:
def rev_str(string):
    result=string[::-1]
    return result

In [ ]:
string_list=['Biswajit', 'Sampad', 'Mainul', 'Apurba', 'Mousami', 'Sudeshna', 'Ritwik', 'Abdul', 'Roy', 'Ball']
print(list(map(rev_str, string_list)))

['tijawsiB', 'dapmaS', 'luniaM', 'abrupA', 'imasuoM', 'anhseduS', 'kiwtiR', 'ludbA', 'yoR', 'llaB']

Q13. Given a list of integers, use filter to find all the numbers that are divisible by 7 and 9.

In [ ]:
def div(n):
    return (n%7==0 and n%9==0)

In [ ]:
num_list=[2, 4, 5, 7, 9, 6, 18, 14, 21, 27, 63, 630, 6300]
print(list(filter(div, num_list)))

[63, 630, 6300]

Q14. Given a list of dictionaries representing books (each dictionary contains keys 'title' and 'author'), use map to extract the titles of the books.

In [ ]:
def title_extract(dictionary):
    return dictionary['title']

In [ ]:
book_dict=[{'title': 'Inorganic', 'author': 'AKD' }, {'title': 'Organic', 'author': 'N Tewari' }, {'title': 'Physical', 'author': 'PCR' }]
print(list(map(title_extract, book_dict)))

['Inorganic', 'Organic', 'Physical']

Q15. Given a list of strings, use filter to find all the strings that contain the letter 'e'.

In [ ]:
def letter_check(string):
    return 'e' in string

In [ ]:
string_list=['Biswajit', 'Sampad', 'Mainul', 'Apurba', 'Mousami', 'Sudeshna', 'Ritwik', 'Abdul', 'Roy', 'Ball', 'Reka']
print(list(filter(letter_check, string_list)))

['Sudeshna', 'Reka']

Q16. Given a list of tuples (name, salary), use filter to find all the employees whose salary is above the average salary.

In [ ]:
# def check_salary(employees):
#     av_salary=0
#     for name, salary in employees:
#         av_salary +=salary/(len(employees))
#     #print(av_salary)
#     for name, salary in employees:
#         if (salary>av_salary):
#             print(name)
employees=[('Ramen', 2000), ('Rahul', 3000), ('Rohit', 5000), ('Rajib', 2000), ('Madan', 6000), ('Nayan', 10000)]
names=[i[0] for i in employees]
salary=[i[1] for i in employees]
average_salary=sum(salary)/len(salary)

def check_salary(tuple_in_list):
    return tuple_in_list[1] > average_salary

In [ ]:


#check_salary(employees)

print(f"Avg salary of employees is {average_salary}")
#print(list(filter(check_salary, employees)))
print(f"Name of employees having salary above avg salary are: {', '.join([i[0] for i in list(filter(check_salary, employees))])}")

Avg salary of employees is 4666.666666666667
Name of employees having salary above avg salary are: Rohit, Madan, Nayan