<a href="https://colab.research.google.com/github/mcodevb/Python-with-Mainul/blob/master/Assignment/5/ASSIGNMENT_5_SUNNY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Given a list of strings, use map to convert each string to uppercase.

In [1]:
def uppercase(x):
    return x.upper()
list(map(uppercase,['sunny','rtk','mou','biku','sudeshna']))

['SUNNY', 'RTK', 'MOU', 'BIKU', 'SUDESHNA']

Q2. Given a list of numbers, use filter to find all multiples of 3.

In [9]:
from random import *
def mult_3(x):
    return x%3==0

lst=[randint(1,100) for i in range(5)]
print(lst)
list(filter(mult_3,lst))

[96, 80, 57, 6, 90]

[96, 57, 6, 90]

Q3. Given a list of strings, use filter to find all the strings that have more than 5 characters.

In [10]:
def char_5(x):
    return len(x)>5

lst=['hjvf','jgflj','jhsfjh','hfbjhf']
list(filter(char_5,lst))

['jhsfjh', 'hfbjhf']

Q4. Given a list of tuples (name, age), use map and filter to find the names of people who are above 18 years old.

In [11]:
def adult(x):
    return x[1]>18

lst=[('sunny',23),('hjgf',11),('jhf',19)]
list(filter(adult,lst))

[('sunny', 23), ('jhf', 19)]

Q5. Given a list of dictionaries representing people (each dictionary contains keys 'name' and 'age'), use filter to find all the people whose age is above 30.

In [18]:
def upmiddle(x):
    print(x)
    a = dict3[x]
    print(a)
    return dict[x]>30

dict3={'sun':11,'hgc':31,'gfxnb':45}
list(filter(upmiddle,dict3))

sun
11
hgc
31
gfxnb
45

['hgc', 'gfxnb']

Q6. Given a list of strings, use map to convert each string to its length.

In [19]:
def length(x):
    return len(x)

lst=['dkhg','khdkty','fxj','kytdtky']
list(map(length,lst))

[4, 6, 3, 7]

Q7. Given a list of integers, use filter to find all the numbers which are one less than some prime numbers.

In [22]:
def one_less_prime(y):
    x=y+1
    if x<=1:
        return False
    else:
        sqrt=x**0.5
        for a in range(2,int(sqrt)+1):
          if(x%a==0):
              return False
        else:
          return True

lst=[randint(1,100) for i in range(20)]
print(lst)
list(filter(one_less_prime,lst))

[51, 83, 94, 80, 10, 78, 42, 95, 15, 34, 19, 73, 35, 35, 70, 67, 55, 60, 61, 10]

[10, 78, 42, 70, 60, 10]

Q8. Given a list of dictionaries representing products (each dictionary contains keys 'name' and 'price'), use filter to find all the products with a price less than $10.

In [ ]:
def less_10(x):
    return dict[x]<10

dict={'jdhv':2,'hgc':31,'gfxnb':45,'jhjhfs':9}
list(filter(less_10,dict))

['jdhv', 'jhjhfs']

Q9. Given a list of strings, use filter to find all the strings that start with the letter 'A'.

In [ ]:
def star_A(x):
    return x.startswith('A')
lst=['Achg','ahvhd','Atrsj','jhch']
list(filter(star_A,lst))

['Achg', 'Atrsj']

Q10. Given a list of numbers, use map to calculate the cubes of the even numbers within the list of numbers.

In [ ]:
def cube_even(x):
    if x%2==0:
        return x**3

lst=[randint(1,100) for i in range(8)]
print(lst)
list(map(cube_even,lst))

[100, 59, 90, 86, 89, 100, 90, 83]

[1000000, None, 729000, 636056, None, 1000000, 729000, None]

In [26]:
def even(x):
    return x%2==0
def cube(x):
    return x**3

lst=[randint(1,100) for i in range(8)]
print(lst)
list(map(cube,(filter(even,lst))))

[85, 52, 86, 97, 85, 4, 21, 55]

[140608, 636056, 64]

Q11. Given a list of tuples (name, score), use map and filter to find the names of students who have scored above 80.

In [ ]:
def letter(x):
    return x[1]>80
def name(x):
    return x[0]

lst=[('sunny',43),('hjgf',87),('jhf',97),('gffjg',55)]
list(map(name,list(filter(letter,lst))))

['hjgf', 'jhf']

Q12. Given a list of strings, use map to reverse each string.

In [ ]:
def reverse(x):
    return x[::-1]
list(map(reverse,['sunny','rtk','mou','biku','sudeshna']))

['ynnus', 'ktr', 'uom', 'ukib', 'anhsedus']

Q13. Given a list of integers, use filter to find all the numbers that are divisible by 7 and 9.

In [ ]:
def div_7_9(x):
    return x%7==0 or x%9==0

lst=[randint(1,100) for i in range(20)]
print(lst)
list(filter(div_7_9,lst))

[61, 21, 83, 64, 70, 64, 37, 10, 49, 45, 54, 34, 34, 72, 29, 59, 78, 40, 85, 29]

[21, 70, 49, 45, 54, 72]

Q14. Given a list of dictionaries representing books (each dictionary contains keys 'title' and 'author'), use map to extract the titles of the books.

In [ ]:
def titles(x):
    return x[0]

dic={'hhgf':'gcgf','hgfg':'hdt','fhg':'gfgc'}
list(map(titles,dic.items()))

['hhgf', 'hgfg', 'fhg']

Q15. Given a list of strings, use filter to find all the strings that contain the letter 'e'.

In [ ]:
def contain_e(x):
    return 'e' in x

lst=['nfdres','djjhkl','.kufrser','gdsrsfgh']
list(filter(contain_e,lst))

['nfdres', '.kufrser']

Q16. Given a list of tuples (name, salary), use filter to find all the employees whose salary is above the average salary.

In [ ]:
lst=[('sdkjb',344),('hjszjh',633),('skjs',363)]
sum1=0
for c in lst:
    sum1+=c[1]
av=sum1/len(lst)
print('average salary=',av)

def av_sal(x):
    return x[1]>av

list(filter(av_sal,lst))

average salary= 446.6666666666667

[('hjszjh', 633)]