Q.1)Given a List of Strings, use map to convert each string to uppercase.

In [ ]:
def upper(str):
   return str.upper()
str=['Tom and Jerry','Oggy and the Cockroches','Chota Bheem']
a=list(map(upper,str))
print(a)

['TOM AND JERRY', 'OGGY AND THE COCKROCHES', 'CHOTA BHEEM']

Q.2)Use filter to find multiple of 3 from a given list of numbers

In [ ]:
def multiple_of_3(n):
   if n%3==0:
       return True
   else:
       return False
lis=[1,2,3,4,5,6,7,88,99]
print(list(filter(multiple_of_3,lis)))

[3, 6, 99]

Q.3)Given a list of string, use filter to find all strings that have more than five characters.

In [ ]:
def function(str):
   if len(str)>5:
      return True
   else:
      return False
lis=['Hibiscus','lotus','sun_flower','lily','rose']
print(list(filter(function,lis)))

['Hibiscus', 'sun_flower']

Q.4)Given a list of tuples(name,age),use map and filters to find the name of peoples who are above 18 years old.

In [ ]:
def people_above_18(n):
   if n[1]>18:
     return True
   else:
     return False
people_above_18(('mou',23))
lis=[('mou',23),('ayan',14),('manika',40),('nirmala',90),('mintu',9)]
a=list(map(people_above_18,lis))
b=list(filter(people_above_18,lis))
print(a)
print(b)
lis2=[]
for i in b:
   lis2.append(i[0])
print(lis2)

[True, False, True, True, False]
[('mou', 23), ('manika', 40), ('nirmala', 90)]
['mou', 'manika', 'nirmala']

Q.5)Given a list of dictionaries representing people (each dictionary contain keys 'name' and 'age').Use filter to find all the people whose age is above 30.

In [ ]:
def people_above_30(n):
  a=list(n.keys())
  b=list(n.values())
  return b[0]>30
lis=[{'mou':23},{'ayan':14},{'nimu':90},{'subha':35}]
lis2=list(filter(people_above_30,lis))
print(lis2)
lis3=[]
for item in lis2:
  lis3.append(item.keys())
print(lis3)

[{'nimu': 90}, {'subha': 35}]
[dict_keys(['nimu']), dict_keys(['subha'])]

Q.6)Given a list of strings, Use map to convert each string to its length.

In [ ]:
def length(str):
  return len(str)
str=input("Give string: ")
print(length(str))
lis=['manika','tusu','nimu','nehabati','anu is a good girl']
a=list(map(length,lis))
print(a)

Give string: today is friday
15
[6, 4, 4, 8, 18]

Q.7)Given a list of integers,use filter to find all the numbers which are one less than some prime numbers.

In [ ]:
def is_prime(n):
  m = n+1
  if m>1:
    for i in range(2,int(m**0.5)+1):
      if m%i==0:
         return False
    else:
      return True
  else:
    return False
#print(is_prime(7))
def test(n):
   return is_prime(n+1)
#print(test(36))


lis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
result=list(filter(is_prime,lis))
print(result)

[1, 2, 4, 6, 10, 12]

Q.8)Given a list of dictionaries representing products (each dictionary contain keys 'name' and 'price').Use filter to find all the products with price less than 10$.

In [ ]:
def products(name_and_price):
  a=list(name_and_price.keys())
  b=list(name_and_price.values())
  if  b[0]<10:
    return b[0]
lis=[{'Math Book':9},{'English Book':15},{'Note Book':20},{'Chemistry Book':7}]
lis2=list(filter(products,lis))
print(lis2)
lis3=[]
for x in lis2:
  lis3.append(x.keys())
print(lis3)

[{'Math Book': 9}, {'Chemistry Book': 7}]
[dict_keys(['Math Book']), dict_keys(['Chemistry Book'])]

Q.9)Given a list of strings,using filter to find all the strings that start with the letter 'A'.

In [ ]:
def starts_with_A(str):
  if str[0]=='A':
     return True
  else:
     return False
starts_with_A('Aman')

lis=['Ayan','asim','sude','tusu','Aditi']
result=list(filter(starts_with_A,lis))
print(result)

['Ayan', 'Aditi']

Q.10)Given a list of numbers ,use map to calculate the cubes of even numbers within the list of numbers.

In [ ]:
def is_Even(n):
  if n%2==0:
    return True
  else:
    return False
def cube(n):
  return n*n*n
lis=[1,2,3,4,5,6,7,8,9,10]
lis2=list(filter(is_Even,lis))
print(lis2)
lis3=list(map(cube,lis2))
print(lis3)

[2, 4, 6, 8, 10]
[8, 64, 216, 512, 1000]

Q.11)Given a list of tuples(name,score), use map and filter to find the name of students who have scored above 80.

In [ ]:
def score_above_80(n):
   if n[1]>80:
      return True
   else:
      return False
score_above_80(('Tusu',90))
lis=[('np',89),('ayan',78),('anu',99)]
lis2=list(filter(score_above_80,lis))
print(lis2)
lis3=[]
for item in lis2:
  lis3.append(item[0])
print(lis3)

[('np', 89), ('anu', 99)]
['np', 'anu']

Q.12)Given a list of strings,use map to reverse each string.

In [ ]:
def reverse(str):
  return str[::-1]
lis=['Redmi Y2','One Plus 7','Samsung Galaxy M30','Vivo V 15 Pro']
result=list(map(reverse,lis))
print(result)

['2Y imdeR', '7 sulP enO', '03M yxalaG gnusmaS', 'orP 51 V oviV']

Q.13)Given a list of integers,use filter to find all the numbers that are divisible by 7 and 9.

In [ ]:
def test(n):
  if n%7==0 and n%9==0:
    return True
  else:
    return False
lis=[63,123,126,45,49]
result=list(filter(test,lis))
print(result)

[63, 126]

 Q.14)Given a list of dictionaries representing books(each dictionary contain keys 'title' and 'author').Use map to extract title of books.

In [ ]:
def dict(title_and_author):
  a=list(title_and_author.keys())
  b=list(title_and_author.values())
  return a[0]
dict({'tim':'abc'})
lis=[{'Anandamath':'Bankim Chandra Chat.'},{'Pather Panchali':'Bibhutibhusan ban'},{'Gora':'Tagore'}]
result=list(map(dict,lis))
print(result)

['Anandamath', 'Pather Panchali', 'Gora']

Q.15)Given a list of string, use filter to find all the strings that contains the letter 'e'

In [ ]:
def test(str):
   return 'e' in str
lis=['A red colour book','a black colour shirt','a blue pen']
result=list(filter(test,lis))
print(result)

['A red colour book', 'a blue pen']

Q.16)Given a list of tuples(name,salary),use filter to find all the employees whose salary is above the average salary.

In [ ]:
def avg_salary(name_and_salary):
   salary=[]
   for i in name_and_salary:
    salary.append(i[1])
   l=len(salary)
   sum=0
   for x in salary:
      sum+=x
   average_salary=sum/l
   return average_salary

lis=[('tusu',31000),('monu',32000),('arup',40000),('mou',25000)]
average_salary=avg_salary(lis)
print(average_salary)
lis2=[]
for x in lis:
  if x[1]>average_salary:
    lis2.append(x[0])
print(lis2)

32000.0
['arup']